<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SshEngine.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SshEngine.Tests.Properties.Settings>
            <setting name="HostNameTest" serializeAs="String">
                <value>Localhost</value>
            </setting>
            <setting name="HostPortTest" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="UsernameTest" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="PasswordTest" serializeAs="String">
                <value>pass</value>
            </setting>
        </SshEngine.Tests.Properties.Settings>
    </userSettings>
</configuration>